<div class="container">
  <div class="row">
    <div class="col-sm-6 centered-form">
      <form action="/profile" method="post">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" name="name" class="form-control">
        </div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" name="username" class="form-control">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" name="email" class="form-control">
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" name="password" class="form-control">
        </div>
        <div class="form-group">
          <label for="becomeProducer">Are you a Producer?</label>
          <input type="password" name="password" class="form-control">
        </div>
        <button type="submit">Signup</button>
      </form>
    </div>
  </div>
</div>


isProducer      : { type: Boolean, default: false },
  address         : {
                    street: String,
                    streetNo: Number,
                    zip_code: String,
                    city: String,
                    country: String
                    },
  description     : String,
  url             : String,
  phoneNo         : String,
  imgurl          : String,
  products        : [ { type: String, enum: TYPES, required: true } ],