<!DOCTYPE html>
<html>
  <head>
    <title>Tomatoop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script type="text/javascript"> var myEvents = <%- JSON.stringify(events) %> </script>

  </head>
  <body>
      <header class="container">

        <div class="row">
          <a class="col-xs-9" href="/"><img src="images/logo.png"></a>

          <div class="btn-group col-xs-3 float-right">
            <button type="button" class="btn btn-default dropdown-toggle btn-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="images/avatar.png"> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
              <li><a href="/auth/signup">Sign up</a></li>
              <li><a href="/auth/login">Login</a></li>
              <li role="separator" class="divider"></li>
              <li><a href="/logout">Logout</a></li>
            </ul>
          </div>

        </div>
      </header>

      <div class="main-container">
        <%- body -%>
      </div>
      <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
      <script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js" type="text/javascript"></script>
      <script src="/javascripts/search.js" type="text/javascript"></script>
      <script src="/javascripts/index.js" type="text/javascript"></script>

      <script src="https://maps.googleapis.com/maps/api/js?key="></script>
      <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
      <script type="text/javascript" src="/javascripts/main.js"></script>
    </body>
</html>
