<!DOCTYPE html>
<html>
  <head>
    <title>Tomatoop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="/bower_components/bootstrap-toggle/css/bootstrap-toggle.min.css" rel="stylesheet">
    <script src="/bower_components/jquery/dist/jquery.min.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/bower_components/bootstrap-toggle/js/bootstrap-toggle.min.js" type="text/javascript"></script>

  </head>
  <body>
      <header class="container">

        <div class="row">
          <a class="col-xs-9" href="/"><img src="/images/logo.png"></a>

          <div class="btn-group col-xs-3 float-right">
            <button type="button" class="btn btn-default dropdown-toggle btn-avatar" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="/images/avatar.png"> <span class="caret"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              <% if (!isAuthenticated) {%>
              <li><a href="/signup">Sign up</a></li>
              <li><a href="/login">Login</a></li>
              <li>
              <% } else { %>
                <li><a href='/event/calendar'>Your calendar</a></li>
                <li><a href='/producer/favourites'>Your favourite producers</a></li>
                <li><a href="/profile">Update your info</a></li>
                <form action="/logout" method="POST">
                  <a href="#" onclick="$(this).closest('form').submit()">Logout</a>
                </form>
              </li>
              <% } %>
            </ul>
          </div>

        </div>
      </header>

      <div class="main-container">
        <%- body -%>
      </div>
      <script src="/javascripts/search.js" type="text/javascript"></script>
      <script src="/javascripts/index.js" type="text/javascript"></script>
      <script src="/javascripts/scripts.js" type="text/javascript"></script>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC24v20ewEPFsez1mdCiGOyPWcEmYbzd94"></script>
    </body>
</html>
