
      <form action="/" method="post">
          <select for="productTypes" class="form-control" name="product-types" id="product-types">
              <option hidden value="" selected>CHOOSE A PRODUCT TYPE</option>
            <% TYPES.forEach((type) => { %>
              <option type="text" value="<%= type %>"><%= type %> </option>
            <%  }) %>
          </select>
          <div class="inputRadio">
            <input type="radio" name="radioOptions" id="radio1" value="option1"> Producer
            <input type="radio" name="radioOptions" id="radio2" value="option2"> Calendar
          </div>
          <button class="btn btn-default btn-block" type="submit"> SEARCH </button>
      </form>
