/*----------------------------------------------------RESET--------------------------------------------*/

* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*red: a12e38;*/
/*beige: f4dfd4;*/
/*----------------------General---------------*/
* { box-sizing: border-box; }

body {
  margin: 0;
  padding: 2.5%;
  background-color: #a12e38;
  color: #f4dfd4;
  font-family: 'Josefin Sans', sans-serif;
}
a {
  color: #f4dfd4;
  text-decoration: none;
}
header {
  border-bottom: 2px solid #f4dfd4;
  margin-bottom: 20px;
  padding-bottom: 25px;
}
header img {
  align-items: center;
  height: 90px;
}

header.container {
  width: 95%;
};
header a:last-child {
  float: right;
}
form {
  width: 95%;
  margin: 0 auto;
}
.inputRadio {
  margin: 10px;
}
#radio1, #radio2 {
  margin: 0 10px;
}
.btn-avatar {
  background-color: #a12e38;
  border-radius: 50%;
}
.float-right {
  float: right;
}
.event-box {
  width: 95%;
  padding: 10px;
  margin: 20px auto;
  border: 2px solid #f4dfd4;
}
.event-link {
  width: 100%;
  height: 100%;
  display: block;
}
@media (max-width: 768px) {
  body {
    padding: 10px;
    color: #f4dfd4;
  }
  header {
    padding-bottom: 10px;
  }
  header img {
    height: 20px;
  }
  form {
    margin: 10px;
  }
}

#map {
  width: 95%;
  margin: 0 auto;
  height: 400px;
}
.view-switch {
  margin-left: 4%;
}
.rating-container {
  margin-left: 20px;
}
