<div class="container">
  <div class="row">
    <div class="signup">
      <h3> NEW EVENT </h3>
      <br>
      <form action="/event/new" method="post">
        <div class="form-group">
          <label for="title">Title</label>
          <input type="text" name="title" class="form-control productTypes">
        </div>
        <div class="form-group">
          <label for="description">Description</label>
          <input type="text" name="description" class="form-control productTypes">
        </div>
        <div class="form-group">
            <label for="datetimepicker">Date and Time</label>
            <div class='input-group dateInput' id='datetimepicker'>
                <input type='text' class="form-control productTypes" name="datetimepicker" />
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-calendar"></span>
                </span>
            </div>
        </div>
        <script type="text/javascript">
            $(function () {
                $('#datetimepicker').datetimepicker({
                  format : "YYYY-MM-DD hh:mm A",
                });
            });
        </script>
        <div class="form-group">
          <label for="street">Street</label>
          <input type="text" name="street" class="form-control productTypes">
        </div>
        <div class="form-group">
          <label for="streetNo">Street Number</label>
          <input type="text" name="streetNo" class="form-control productTypes">
        </div>
        <div class="form-group">
          <label for="zipCode">Zip Code</label>
          <input type="text" name="zipCode" class="form-control productTypes">
        </div>
        <div class="form-group">
          <label for="city">City</label>
          <input type="text" name="city" class="form-control productTypes">
        </div>
        <div class="form-group">
          <label for="country">Country</label>
          <input type="text" name="country" class="form-control productTypes">
        </div>
        <div class="form-group">
            <label>Product Types</label>
              <% productTypes.forEach((type) => { %>
                <div class="checkbox">
                  <label><input type="checkbox" name="<%= type._id %>" id="<%= type._id %>"><%= type.name %></label>
                </div>
              <% }) %>
        </div>
        <div class="search_button">
          <button type="submit" class="search">Create</button>
        </div>
      </form>
    </div>
  </div>
</div>
